@import "_normalize";
@import "_variables";
@import "_mixin";
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700|Zilla+Slab:400,400i&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background: $dark-gray;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  justify-content: space-between;
  min-height: 100vh;
  @include horizontal-center;
  a {
    color: $orange;
  }
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $laptop) {
    font-size: 20px;
  }
}

.site-header {
  color: $orange;
  font-size: 1.2em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}
.main-content {
  padding: 1em 0;
  width: 100%;
  .main-header {
    background: linear-gradient(90deg, $orange -21.05%, $violet 121.05%);
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
    padding: 1em 0;
    @include horizontal-center;
    &__title {
      font-family: 'Zilla Slab', serif;
      font-weight: normal;
      margin-bottom: 0;
    }
    &__description {
      font-weight: lighter;
      line-height: 150%;
      text-align: center;
      width: 80%;
      &--form {
        width: 70%;
        input, label {
          color: #CBCFD4;
          display: block;
          width: 100%;
        }
        input {
          border-radius: 10px;
          border-width: 0;
          font-size: 0.8em;
          margin-left: auto;
          margin-right: auto;
          padding: 0.8em;
        }
        label {
          display: none;
          font-size: 0.8em;
          line-height: 1.5em;
          text-align: left;
          @media screen and (min-width: $tablet) {
            display: inline-block;
          }
        }
        @media screen and (min-width: $tablet) {
          width: 50%;
        }
        @media screen and (min-width: $laptop) {
          width: 40%;
        }
      }
    }
    @media screen and (min-width: $tablet) {
      padding: 3em 0;
    }
  }
}

.site-footer {
  background: $medium-gray;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  margin: 1em 0;
  width: 100%;
  @include horizontal-center;
  &__img, &__links {
    padding: 1em 0;
  }
  &__img {
    display: none;
    @media screen and (min-width: $tablet) {
      display: initial;
    }
  }
  &__links a {
    font-size: 1.5em;
    padding: 0.5em;
    i {
      @include text-gradient;
    }
  }
  &__project-info {
    line-height: 1.3em;
    text-align: center;
    @media screen and (min-width: $tablet) {
      font-size: 0.8em;
    }
  }
  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    justify-items: center;
    padding: 0.5em 0;
  }
}